h1 {
    color: rgb(211, 241, 173);
    background-color: cadetblue;
}
h2 {
    color: rgb(211, 241, 173);
    background-color: royalblue;
}
h3 {
    color: rgb(211, 241, 173);
    background-color: rosybrown;
}